<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<div class="container" id="navigation" th:fragment="navbar">
		<div>
			<a href="/control/home"><i class="m-3 fas fa-home fa-2x"></i></a> <a
				href="/regulator/home"><i
				class="m-3 fas fa-tachometer-alt fa-2x"></i></a> <a
				href="http://5.187.246.246:3000/d/RI-PUzZRz/test-dashboard"
				target="_blank"><i class="m-3 fas fa-signal fa-2x"></i></a> <a
				href="/admin/home"><i class="m-3 fas fa-user-cog  fa-2x"></i></a>
		</div>
	</div>

</body>

</html>