@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  color: #f5f5f5;
  background: #374a66;
  font-family: 'Montserrat', sans-serif !important;
}

#navigation a:link {
  color: #c0c0c0;
}

#navigation a:hover {
  color: #f0f0f0;
}

.header {
  background: #374a66;
  font-size: 150%;
  min-height: 100px;
  padding: 30px 2px 25px 30px;
}

.base {
  background: #232338;
  font-size: 150%;
  min-height: 100px;
  padding: 30px 2px 25px 30px;
}

.icon {
  color: #c0c0c0;
  font-size: 150%;
}

.bulbon {
  color: #ecf000;
}

.value {
  color: #1fa6b3;
  font-weight: bolder;
}

.sum {
  background: #374a66;
  font-size: 150%;
  min-height: 100px;
  padding: 30px 2px 25px 30px;
}

.bb {
  /*border: #ecf000;*/
  /*border: #374a66;*/
  border: #ecf000;
  border-style: solid;
  border-width: 1px;
}
