<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="REFRESH" content="15;url=/admin/home">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
	integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
	crossorigin="anonymous" />
    <title>Admin</title>
  </head>

  <body>
  <div th:replace="fragments/menu :: navbar">Nav goes here.</div>
  
    <div class="container">
      <h1 class="text-center font-weight-bold">Admin</h1>

      <br />

      <table class="table table-striped" width="1200" height="200">
        <thead class="thead-dark">
          <tr class="text-center">
            <th></th>
            <th><b>Light status</b></th>
            <th><b>Light switch</b></th>
            <th><b>Temperature</b></th>
            <th><b>Humidity</b></th>
            <th></th>
            <th><b>MCU status</b></th>
            <th><b>MCU switch</b></th>
          </tr>
        </thead>
        <tbody>

          <tr class="text-center">
            <th scope="row">Kitchen</th>
            <td th:text="${kitchenLightStatus}">lightStatus</td>
            <td>
              <a
                href="kitchen"
                id="kitchen-light-btn"
                class="btn btn-primary btn-sm"
                >ON/OFF</a
              >
            </td>
            <td><span th:text="${kitchenTemperature}">X</span> °C</td>
            <td><span th:text="${kitchenHumidity}">X</span> %</td>
            <td>|</td>
            <td th:text="${kitchenMcuStatus}">mcuStatus</td>
            <td>
              <a
                href="mcu_kitchen"
                id="kitchen-mcu-btn"
                class="btn btn-danger btn-sm"
                >ON/OFF</a
              >
            </td>
          </tr>
          
          <tr class="text-center">
            <th scope="row">Living room</th>
            <td th:text="${livingroomLightStatus}">lightStatus</td>
            <td>
              <a
                href="livingroom"
                id="livingroom-light-btn"
                class="btn btn-primary btn-sm"
                >ON/OFF</a
              >
            </td>
            <td><span th:text="${livingroomTemperature}">X</span> °C</td>
            <td><span th:text="${livingroomHumidity}">X</span> %</td>
            <td>|</td>
            <td th:text="${livingroomMcuStatus}">mcuStatus</td>
            <td>
              <a
                href="mcu_livingroom"
                id="livingroom-mcu-btn"
                class="btn btn-danger btn-sm"
                >ON/OFF</a
              >
            </td>
          </tr>

          <tr class="text-center">
            <th scope="row">Outside</th>
            <td th:text="${outsideLightStatus}">lightStatus</td>
            <td>
              <a
                href="outside"
                id="outside-light-btn"
                class="btn btn-primary btn-sm"
                >ON/OFF</a
              >
            </td>
            <td><span th:text="${outsideTemperature}">X</span> °C</td>
            <td><span th:text="${outsideHumidity}">X</span> %</td>
            <td>|</td>
            <td th:text="${outsideMcuStatus}">mcuStatus</td>
            <td>
              <a
                href="mcu_outside"
                id="outside-mcu-btn"
                class="btn btn-danger btn-sm"
                >ON/OFF</a
              >
            </td>
          </tr>
        </tbody>
      </table>

      <br />

      <div class="d-flex justify-content-center row-hl">
        <div class="p-2 item-hl">
          <a
            href="all"
            id="outside-mcu-btn"
            class="btn btn-danger btn-sm"
            >ALL LIGHTS OFF</a
          >
        </div>
      </div>

      <hr />
      <div class="text-center">
        Living room humidity regulator:
        <span th:text="${livingroomRegulator}">X</span>
      </div>

    </div>
  </body>
</html>
