<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Smarthome</title>
</head>
<body>

	<h1 align="center"><b>Smarthome</b></h1>

	<br/>
	
	<table align="center" width="50" height="50">
		<tr>
			<td>
				<a href="control/home">Control</a>
			</td>
			<td>
				<a href="admin/home">Admin</a>
			</td>
		</tr>
		
		<tr>
			<td>
				<button type="button">
					Rooms
				</button>
			</td>
			
			<td>
				<button type="button">
					Security
				</button>
			</td>
		</tr>
	</table>

</body>
</html>