<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Smarthome</title>
  </head>

  <body>
    <div class="container">
      <h1 class="text-center font-weight-bold">Smarthome</h1>

      <br />
      <div class="d-flex justify-content-center row-h1">
        <div class="p-4 item-hl">
          <a
            href="control/home"
            id="control-home-btn"
            class="btn btn-primary btn-lg"
            >Control</a
          >
        </div>
        <div class="p-4 item-hl">
          <a
            href="admin/home"
            id="admin-home-btn"
            class="btn btn-success btn-lg"
            >Admin</a
          >
        </div>
        <div class="p-4 item-hl">
          <a
            href="history/home"
            id="history-home-btn"
            class="btn btn-warning btn-lg"
            >History</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
