<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet"
		  th:href="@{/css/style.css}" />
	<link rel="stylesheet"
		  th:href="@{/css/regulator.css}" />
    <title>SmartHome</title>
  </head>
  <body>
  
    <div th:replace="fragments/menu :: navbar">Nav goes here.</div>

    <div class="container">
      <div class="row mt-5 justify-content-around">
        <div class="d-none d-md-block col-6" id="picture">
          <!--<i class="fas fa-blender fa-10x"></i>
          <i style="color: #7c95c5" class="fas fa-spray-can fa-10x"></i>-->
          <i style="color: #43597a" class="fas fa-sync-alt fa-10x"></i>
        </div>
        <div class="col-12 col-md-6">
          <div>
            <p class="text-center" id="title">
              Humidity controller
            </p>
          </div>
          <div class="mb-3">
            <hr />
          </div>
          <div>
            <div class="row justify-content-between my-3">
              <div class="col-2 text-center">
                <i class="icon fas fa-tint fa-2x"></i>
              </div>
              <div class="col-10">
                <div id="progressBar" class="progress_bar">
                  <div class="progress" style="height:30px">
                    <div
                      class="progress-bar bg-info progress-bar-striped progress-bar-animated"
                      th:style="'width:'+${livingroomHumidity}+'%'"
                    >
                      <span style="font-size: 150%"
                        >Humidity
                        <span th:text="${livingroomHumidity}">X</span>%</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-between mb-3">
              <div class="col-2" style="text-align: center">
                <i th:style ="${regulatorStatus}==1 ? 'color: green' : 'color: red' "class="icon fas fa-power-off fa-2x"></i>
              </div>
              <div class="col-10">
                <div id="onoff">
                  <span th:style="${regulatorStatus}==1 ? 'color : green' : 'color : #c0c0c0' ">ON</span>
                  <span> / </span>
                  <span th:style="${regulatorStatus}==0 ? 'color : red' : 'color : #c0c0c0' ">OFF</span>
                </div>
              </div>
            </div>

            <div>
              <hr />
            </div>

            <div>
              <div class="row justify-content-between">
                <div class="col-md-2 col-3">
                  <span class="subtitle icon-color">Value:</span>
                </div>
                <div class="col-md-2 col-2 text-center">
                  <span class="subtitle" id="demo"></span>
                </div>
                <div class="col-md-8 col-7 pt-2">
                  <div>
                    <form action="set_optimum" method="post" id="formOptimum">
                      <div class="form-group">
                        <input
                          type="range"
                          class="form-control-range slider"
                          name="optimum"
                          id="optimum"
                          min="25"
                          max="95"
                          step="5"
                          th:value="*{regulatorOptimum}"
                        />
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="row justify-content-between mb-3">
                <div class="col-md-2 col-3">
                  <span class="subtitle icon-color">Range:</span>
                </div>
                <div class="col-2 text-center">
                  <span class="subtitle" id="demo2"></span>
                </div>
                <div class="col-md-8 col-7 pt-2">
                  <div>
                    <form action="set_range" method="post" id="formRange">
                      <div class="form-group">
                        <input
                          type="range"
                          class="form-control-range slider2"
                          name="range"
                          id="range"
                          min="0"
                          step="2"
                          max="20"
                          th:value="*{regulatorRange}"
                        />
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="row justify-content-end">
                <div class="col-md-8 col-12">
                  <button
                    id="set"
                    type="button"
                    class="btn btn-primary btn-lg btn-block"
                    onclick="submitForms()"
                  >
                    Set value and range
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"
    ></script>
    <script>
      var slider = document.getElementById("optimum");
      var output = document.getElementById("demo");
      output.innerHTML = slider.value; // Display the default slider value

      // Update the current slider value (each time you drag the slider handle)
      slider.oninput = function() {
        output.innerHTML = this.value;
      };
    </script>
    <script>
      var slider2 = document.getElementById("range");
      var output2 = document.getElementById("demo2");
      output2.innerHTML = slider2.value; // Display the default slider value

      // Update the current slider value (each time you drag the slider handle)
      slider2.oninput = function() {
        output2.innerHTML = this.value;
      };
    </script>
    <script>
      submitForms = function() {
        document.getElementById("formOptimum").submit();
        setTimeout(function() {document.getElementById("formRange").submit();}, 100);
      };
    </script>
    <script>
      // Assign your element ID to a variable.
      var progress = document.getElementById("progressBar");
      // Pause the animation for 100 so we can animate from 0 to x%
      setTimeout(function() {
        progress.style.width = "100%";
      }, 5);
    </script>
  </body>
</html>
